@import '../../styles/_variables'
section#press-releases
    padding-top: 30px
    padding-bottom: 130px
    .press-releases-inner
        h2
            font-family: $font-optima
            color: $eastern-blue
            font-size: 36px
            text-align: center
            margin-bottom: 32px
            span
                display: block
                font-size: 24px
        .cards-container
            display: flex
            .col
                flex: 0.25