@import '../../styles/_variables'
#news-listing-page
    #page-title
        color: $eastern-blue
        font-family: $font-optima
        font-size: 30px
        margin-top: 35px;
    .press-release-container
        margin-bottom: 30px
    #load-more
        padding: 20px
        background-color: $dark-gray
        text-align: center;
        margin-top: 10px
        margin-bottom: 10px
        color: $dim-gray
        font-family: $font-optima
        font-size: 24px
        display: block
        width: 100%
        outline: 0
        border: 0
        cursor: pointer
        margin-bottom: 80px