@import '../../styles/_variables'
nav#app-nav
    background-color: $gray
    padding: 16px 0;
    .nav-inner
        .left


            .nav-items
                list-style-type: none
                flex: 0.75
                .item
                    display: inline-block
                    margin-right: 35px
                    a
                        font-family: $font-optima
                        font-size: 18px
                        color: $eastern-blue
                        text-transform: capitalize
                        text-decoration: none
                    &:last-child
                        margin-right: 0
                    .nav-arrow-container
                        display: inline-block
                        margin-left: 8px
                    

       