@import './styles/_mixins'
// over-ride bootrstrap container class
body
    padding-top: 210px
.container-fluid
    padding-right: 120px
    padding-left: 120px
    @media screen and ( max-width: 1300px )
        // display: none
        padding-right: 20px
        padding-left: 20px
    @include mobile
        padding-right: 15px
        padding-left: 15px
    @include tablet
        padding-right: 15px
        padding-left: 15px
.fixed-nav
    position: fixed
    height: 210px
    top: 0
    width: 100%
    z-index: 2
        
    